body{
    background-color: black;
} 

#txt {
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 2% 10%;
    text-align: center;
    background-color: rgba(174, 241, 180, 0.952);
    margin: 3%;
} 

#titulo{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;   
    background-color: rgb(133, 194, 218); 
    margin: 3%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

#um{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotoum{
    height: 350px;
    margin: 3%;
}

#txtum{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#dois{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotodois{
    height: 350px;
    margin: 3%;
}

#txtdois{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#tres{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fototres{
    height: 330px;
    margin: 3%;
}

#txttres{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#quatro{

    display: -webkit-flex;
    flex-flow: column;
    max-width: 235px;
}

#fotoquatro{
    height: 250px;
    width: 220px;
    margin: 3%;
}

#txtquatro{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#cinco{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotocinco{
    height: 350px;
    margin: 3%;
}

#txtcinco{
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#seis{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotoseis{
    height: 350px;
    margin: 3%;
}

#txtseis{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#sete{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotosete{
    height: 350px;
    margin: 3%;
}

#txtsete{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#oito{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 425px;
}

#fotooito{
    width: 400px;
    margin: 3%;
}

#txtoito{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#nove{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotonove{
    width: 200px;
    margin: 5%;
}

#txtnove{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#dez{
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotodez{
    height: 350px;
    margin: 3%;
}

#txtdez{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#rodape{
    color: #000000;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center; 
    padding: 5%;
    margin: 3%;
    background-color: rgba(174, 241, 180, 0.952);
}