body{
    background-color: black;
} 

#txt {
    color: rgba(174, 241, 180, 0.952);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 2% 10%;
    text-align: center;
} 

#titulo{
    color: rgb(133, 194, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;    
}

.container{
    display: flex;
    flex-wrap: wrap;
}

#um{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotoum{
    height: 310px;
    margin: 3%;
}

#txtum{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#dois{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotodois{
    height: 310px;
    margin: 3%;
}

#txtdois{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#tres{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fototres{
    height: 310px;
    margin: 3%;
}

#txttres{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#quatro{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotoquatro{
    height: 250px;
    margin: 3%;
}

#txtquatro{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#cinco{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotocinco{
    height: 310px;
    margin: 3%;
}

#txtcinco{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#seis{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotoseis{
    height: 310px;
    margin: 3%;
}

#txtseis{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#sete{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotosete{
    height: 310px;
    margin: 3%;
}

#txtsete{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#oito{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 425px;
}

#fotooito{
    width: 400px;
    margin: 3%;
}

#txtoito{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#nove{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotonove{
    height: 310px;
    margin: 3%;
}

#txtnove{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#dez{
    border: thin #c0c0c0 solid;
    display: -webkit-flex;
    flex-flow: column;
    max-width: 220px;
}

#fotodez{
    height: 310px;
    margin: 3%;
}

#txtdez{
    background-color: #000000;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#rodape{
    color: rgba(174, 241, 180, 0.952);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center; 
}

/*#fotoum{
    height: 300px;
    margin: 3%;
    border-radius: 10%;

}

#legum{
    color: white;
    float: left;
    width: 15%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}

#fotodois{
    height: 300px;
    margin: 3%;
    border-radius: 10%;
}

#fototres{
    height: 300px;
    margin: 3%;
    border-radius: 10%;
}

#fotoquatro{
    height: 250px;
    margin: 3%;
    border-radius: 3%;
}/*
